h1 {
    text-align: center;
}

table {
    padding: 0px;
    border-collapse: collapse;
    margin: 0px;
}

.table-header {
    text-align: center;
    font-weight: bold;
}

.landing_page_img img {
    width: 400px;
    height: auto;
}

.recipe_img {
    width: 700px;
    height: auto;
}

